@page
@model IndexModel
@{
    ViewData["Title"] = "Начална страница";
}

<div class="text-center">
    <h1 class="display-4">Добре дошъл в твоята мини библиотека!</h1>
    @* <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
    <h2>Тук можеш да записваш книгите, които си прочел, които четеш в момента или ти предстои да прочетеш.</h2>
    <h2>Можеш да добавяш, редактираш и изтриваш книги.</h2>
    <h3 class="display-4">Не спирай да четеш!</h3>
</div>
