@page
@model PrivacyModel
@{
    ViewData["Title"] = "Политика за поверителност";
}
<h1>@ViewData["Title"]</h1>

<p>MiniLibrary събира лични данни само с цел идентификация и осигуряване на достъп до функционалностите на приложението. Събраната информация не се предоставя на трети страни.
Вашите книги са достъпни само за Вас. Ние не използваме „бисквитки“ за проследяване.</p>
